<div class="mask d-flex align-items-center h-100">
  <div class="container ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card mb-8">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Login to your account</h2>

            <form>

              <div class="form-outline mb-4">
                <Input type="email" @value={{this.email}} class="form-control form-control-lg" />
                <label class="form-label" for="form3Example3cg">Email</label>
              </div>
              
              <div class="form-outline mb-4">
                <Input type="password" @value={{this.password}} class="form-control form-control-lg" />
                <label class="form-label" for="form3Example4cg">Password</label>
              </div>
              <Inputoutline/>

              {{#if this.not_authenticated}}
                <center><p class="text-danger txt_weight">Invalid credentials!</p></center>
              {{/if}}

              <div class="d-flex justify-content-center">
                <button type="button" {{on "click" this.signinuser}}
                  class="btn btn-primary btn-block btn-lg text-white">Sign in</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}